.project-tasks{
    display: grid;
    grid-template-columns: 4em 1fr;
    grid-gap: 2%;
}
#tasks{
    font-size: 0.8em;
    background-color: #6600cc;
    color: white;
    padding: 2%;
    margin: 2%;
    text-decoration: none;
    text-align: center;
}
.tasks-title{
    padding-top: 5%;
    text-align: center;
    font-size: 1.2em;
    margin: center
}