<div class="content">
	<div class="top-content">
		<p class="title">Commands</p>
	</div>
	<div>
		<div class="b-content">
			<div class="e">
				<p class="explication">Personalize your experience.</p>
			</div>
			<div class="form">
				<div class="form-s">
					<div class="input-box">
						<label class="label">Add</label>
						<input type="text" class="input" ng-model="commands.add" />
					</div>
					<div class="input-box">
						<label class="label">Pause</label>
						<input type="text" class="input" ng-model="commands.pause" />
					</div>
					<div class="input-box">
						<label class="label">List</label>
						<input type="text" class="input" ng-model="commands.list" />
					</div>
				</div>
				<div class="form-s">
					<div class="input-box">
						<label class="label">Finish</label>
						<input type="text" class="input" ng-model="commands.finish" />
					</div>
					<div class="input-box">
						<label class="label">Edit</label>
						<input type="text" class="input" ng-model="commands.edit" />
					</div>
					<div class="input-box">
						<label class="label">Show</label>
						<input type="text" class="input" ng-model="commands.show" />
					</div>
				</div>
				<div class="form-s">

				</div>
			</div>
		</div>
	</div>
</div>