<div class="content">
    <div class="top-content">
        <p class="title">Project</p>
    </div>
    <div class="bottom-content">
        <div class="tasks-panel">
            <p class="sub-title">{{content.sideBar.type}}</p>
            <div class="tasks">
                <!-- <p ng-click="modal()" class='green'>+ Create new Project</p> -->
                <p ng-click='changeContent(x)' ng-repeat="x in projects" ng-class="getChosen(x)">#{{$index+1}} - {{x.name}}</p>
            </div>
        </div>
        <div class="selected-task">
            <div class="top-selected-task">
                <p class="sub-title-task">{{chosenProject.name}}</p>
                <p ng-class="getPriority">Priority: {{chosenProject.priority}}</p>
            </div>
            <div class="task-attribute">
                <p class="description">{{chosenProject.description}}</p>
                <div class="task-button">
                    <div class="task-buttom-left">
                        <a class='button' href="#!timetracker"> Time Tracker</a>
                        <a class='button' href="#!chart"> Chart</a>
                    </div>
                    <div class="task-buttom-right">
                        <a class='button' href="#!time">Ends in 1 week and 2 days</a>
                        <a class='button' ng-href="#!/project/{{chosenProject._id}}">Tasks Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>