<div class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-item logo">
        </div>
        <div class="sidebar-item user">
            <img class='user-img' src="https://avatars3.githubusercontent.com/u/15956455?s=100&v=4" alt="User photo">
            <p class="username">Matheus de Assis</p>
        </div>
    </div>
    <div class="sidebar-bottom">
        <div onclick='changeActive(this)' class="sidebar-item menu menu-first">
            <a href="#!project" class="menu-item">PROJECTS</a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!task" class="menu-item">TASKS</a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!chart" class="menu-item">CHARTS </a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!calendar" class="menu-item">CALENDAR</a>
        </div>

    </div>
</div>
<div class="content">
    <h1 class="title"> Chart</h1>
    <center>
        <div class="bottom-content">
            <div class="tasks-panel">
                <p class="sub-title">{{content.sideBar.type}}</p>
                <div class="tasks">
                    <p class="sub-title">Projects</p>
                    <div ng-repeat="x in projects" ng-class="getChosen(x)">
                        <p ng-click='changeContent(x)' style='display:inline'>#{{$index+1}} - {{x.name}}</p>
                    </div>
                </div>
            </div>
            <div class="selected-task">
                <div class="top-selected-task">
                    <p class="sub-title-task">{{chosenProject.name}}</p>
                </div>
                <div class="task-attribute">
                    <div class="task-button">
                        <div class="chart-container" style="position: relative; height:30vh; width:60vw">
                            <canvas id="chartTasks"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </center>
</div>