<div ng-include="'sidebar.html'"></div>

<div class="content">
    <div class="top-content">
        <h1 class="title">Tasks</h1>
    </div>
    <div class="bottom-content">
        <div class="tasks-panel">
            <p ng-click="showCreateTask()" class='green'>+ Create new Task</p>
            <div class="tasks">
                <div ng-click='changeContent(x)' class='side-button' ng-repeat="x in tasks" ng-class="getChosen(x)">#{{$index+1}} - {{x.name}}
                    <p class="blue" ng-click="showUpdateTask()">
                        <i class="fas fa-pencil-alt"></i>
                    </p>
                    <p class="red" ng-click="deleteTask(x._id)">X</p>
                </div>
            </div>
        </div>
        <div class="selected-task" ng-show="!showAddTask">
            <div class="top-selected-task">
                <p class="sub-title-task">{{chosenTask.name}} -
                    <a ng-href="#!/project/{{chosenTask.project._id}}">{{chosenTask.project.name}} </a>
                </p>
                <p style="display: inline;">{{chosenTask.priority}} Priority</p>
                <div class="controller-button">
                    <p style="display: inline;" ng-click="startTask(chosenTask._id)">
                        <i class="fas fa-play"></i>
                    </p>
                    <p style="display: inline;" ng-click="finishTask(chosenTask._id)">
                        <i class="fas fa-pause"></i>
                    </p>
                    <p style="display: inline;" ng-click="finishTask(chosenTask._id)">
                        <i class="fas fa-check"></i>
                    </p>
                </div>
            </div>
            <div class="task-attribute">
                <div class='descTime'>
                    <p class="description">Description: {{chosenTask.description}}</p>
                    <p class="description"> You have worked {{chosenTask.days}} days on this task </p>
                </div>
            </div>
        </div>

        <div class='selected-task' ng-show="showAddTask">
            <div class='addTask'>
                <p class="sub-title-task">{{subTitleTask}}</p>
                <form>
                    <div class="group">
                        <input ng-model="task.name" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>

                    <div class="group">
                        <input ng-model="task.description" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Description</label>
                    </div>
                    <div class="group">
                        <span style="color: #5264AE">Start Date</span>
                        <input ng-model="task.startDate" type="date" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="group">
                        <span style="color: #5264AE">Deadline</span>
                        <input ng-model="task.deadline" type="date" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="group">
                        <input ng-model="task.priority" type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Priority</label>
                    </div>

                    <div ng-show="selectProject" class="group">
                        <select ng-model="task.project">
                            <option value='' disabled selected>Select one project</option>
                            <option ng-repeat="project in projects" value="{{project._id}}">{{project.name}}</option>
                        </select>
                    </div>
                </form>
                <div style='float:right'>
                    <p id="cancelButton" ng-click="cancelTask()">Cancel</p>
                    <p id="addButton" ng-show="createButton" ng-click="addTask(task)">Create</p>
                    <p id="addButton" ng-show="updateButton" ng-click="updateTask(task,chosenTask._id)">Update</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>